body {
  text-align: center;
  font-family: Helvetica;
}

#header {
  font-family: Helvetica;
  color: white;
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); background-repeat: no-repeat; background-size:cover;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.navigate {
  font-size: 18px;
  color: white;
}

.heading1 {
  font-size: 32px;
  font-weight: bold;
}

.heading2 {
  font-size: 23px;
  font-weight: bold;
}

.description {
  font-size: 14px
}

.location {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png"); background-repeat: no-repeat;}

#bottomNav {
    background-color: dimgray;
    font-size: 11px;
    color: white;
    text-align: left;
  }
